table, th, td { border: 1px solid black; } th, td { padding: 10px; }
body { background-color: #064066; color: #FFFFFF; }
a { color: #40bfb8; }
a::before {
  content: "---";
  font-family: monospace, monospace;
  display: inline-block;
  margin-right: 6px;
  color: #064066;
}

.rc_number { color: #0b9898; }
.rc_string { color: #dd4040; }
.rc_keyword { color: #6084a8; font-weight: bold; }
.rc_comment { color: #6e716e; }
#rc_code { font-family: Consolas,"courier new"; background-color: #2d3335; padding: 2px; font-size: 105%; }


ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.box {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.box::before {
  content: "[+]";
  font-family: monospace, monospace;
  font-weight: bold;
  color: #40bfb8;
  display: inline-block;
  margin-right: 6px;
}

.box {
	font-weight: bold;
	color: #40bfb8;
	text-decoration: underline;
}

.check-box::before {
  content: "[-]";
  font-family: monospace, monospace;
  font-weight: bold;
  //color: dodgerblue;
  color: #40bfb8;
}

.nested {
  display: none;
}

.active {
  display: block;
}
